<% include ../partials/header %>

<h4>Comments</h4>

<h4><%= post.title%></h4>

<a href="/posts/<%= post._id%>/comments/new">New Comment</a>

<ul class="collection">
  <% post.comments.forEach(function(comment){ %>
  <li class="collection-item avatar">
      <% if(comment.owner) {%>
    <img src="<%= comment.owner.avatar%>" alt="<%= comment.owner.name%>" class="circle">

    <span class="title"><a href="/posts/<%= post._id%>"><%= comment.owner.name%></a></span>
    <% } %>
    <p><%= moment(comment.date).format('l') %><br>
       <%= comment.content%>
    </p>
    <a href="/posts/<%= post._id%>" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
  <% })%>
</ul>

<% include ../partials/footer %>
