<% include ../partials/header %>

<h4><%= user.name ? user.name : '' %></h4>

<a href="/users/<%=user._id%>/edit">Edit Account</a>
</br></br>
<a tabIndex="-1" href="mailto:<%= user.email%>?subject=Hello,<%= user.name%>"><%= user.email%></a>
<div class="birthday">
  <p>
    <%= moment(user.bday).add(1, "day").format('l')%>
  </p>
</div>
<img src="<%= user.avatar%>" alt="<%= user.name%> Avatar Photo" />
</br></br>
<form action="/users/<%= user._id %>?_method=DELETE" method="post">
  <button type="submit" name="delete">Delete Profile</button>
</form>
</br></br>
  <h4>Posts Made by <%= user.name%></h4>
  <ul class="collection">
    <% user.posts.forEach(function(post){ %>
    <li class="collection-item avatar">
      <img src="<%= post.image%>" alt="<%= user.name%> <%= post.content%>" class="circle">
      <span class="title"><a href="/posts/<%= post._id%>"><%= post.title%></a></span>
      <p><%= moment(post.date).format('l') %><br>
         <%= post.content%>
      </p>
      <a href="/posts/<%= post._id%>" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <% })%>
  </ul>
  </br></br>
  <h4>Comments Made by <%= user.name%></h4>
  <ul class="collection">
    <% user.comments.forEach(function(comment){ %>
    <li class="collection-item avatar">
      <img src="<%= post.image%>" alt="<%= user.name%> " class="circle">
      <span class="title"><a href="/posts/<%= post._id%>"><%= post.title%></a></span>
      <p><%= moment(comment.date).format('l') %><br>
         <%= comment.content%>
      </p>
      <a href="/posts/<%= post._id%>" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <% })%>
  </ul>
<% include ../partials/footer %>
