<% include ../partials/header %>

<h4><%= user.name ? user.name : '' %></h4>

<a href="/users/<%=user._id%>/edit">Edit Account</a>
</br></br>
<a tabIndex="-1" href="mailto:<%= user.email%>?subject=Hello,<%= user.name%>"><%= user.email%></a>
<div class="birthday">
  <p>
    <%= moment(user.bday).add(1, "day").format('l')%>
  </p>
</div>
<img src="<%= user.avatar%>" alt="<%= user.name%> Avatar Photo" />
</br></br>
<form action="/users/<%= user._id %>?_method=DELETE" method="post">
  <button type="submit" name="delete">Delete Profile</button>
</form>
<% include ../partials/footer %>
