<% include ../partials/header %>


<h4>Posts</h4>
</br>
<div class="grid"style="margin: 5% 5 %; text-align:center;">
  <% posts.forEach(function(post){%>
    <div class="grid-item" style="max-width: 250px" >
    <div class="card">
       <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="<%=post.image%>">
       </div>
       <div class="card-content">
         <span class="card-title activator grey-text text-darken-4"><%=post.title%><i class="material-icons right">more_vert</i></span>
         <p><a href="#"><%= post.author%></a></p>
       </div>
       <div class="card-reveal">
         <span class="card-title grey-text text-darken-4"><%= moment(post.date).format('llll') %><i class="material-icons right">close</i></span>
         <p><%=post.content%></p>
       </div>
     </div>
    </div>
  <% })%>
</div>
<script charset="utf-8">
  var elem = document.querySelector('.grid');
  var msnry = new Masonry( elem, {
  // options
  itemSelector: '.grid-item',
  columnWidth: 200
  });
  var msnry = new Masonry( '.grid', {
  // options
  });
</script>

<% include ../partials/footer %>
