<% include ../partials/header %>


<a href="/posts/<%=post._id%>/edit">Edit Post</a>
<h4><%= post.title%></h4>
</br>
<h5><%= post.author%></h5>
<h5><%= moment(post.date).format('llll')%></h5>
<img src="<%= post.image%>" alt="<%= post.name%> Image Photo" />
</br></br>
<textarea name="<%= post._id%>" rows="8" cols="40"><%=post.content%></textarea>
</br></br>
<form action="/posts/<%= post._id %>?_method=DELETE" method="post">
  <button type="submit" name="delete">Delete Post</button>
</form>
</br></br>
<a href="/posts/post._id/comments/new">New Comment</a>
</br>
  <ul>
  <% post.comments.forEach(function(comment){%>
    <li>
      <h5><%=comment.author%></h5>
      <h5><%=moment(comment.date).format('llll')%></h5>
      </br>
      <textarea name="<%= comment._id%>" rows="2" cols="40"><%=comment.content%></textarea>
      </br>
    </li>
  <% })%>
  </ul>
<% include ../partials/footer %>
